<div class="btn-group pull-right" role="group">
  <% grid_class_name = disp_type == 'grid' ? "btn btn-default active" : "btn btn-default"%>
  <% list_class_name = disp_type == 'list' ? "btn btn-default active" : "btn btn-default"%>
  <%= link_to potepan_category_path(@taxon.id, disp_type: 'grid'), class: grid_class_name do %>
    <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
  <% end %>
  <%= link_to potepan_category_path(@taxon.id, disp_type: 'list'), class: list_class_name do %>
    <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span>
  <% end %>
</div>