<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <%= image_tag(list_product.display_image.attachment.url(:product), :class => "media-object", :alt => "Image") %>
      <span class="maskingImage"><a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
    </div>
    <div class="media-body">
      <%= link_to potepan_product_path(list_product.id) do %>
        <h4 class="media-heading"><%= list_product.name %></h4>
      <% end %>
      <p><%= list_product.description %></p>
      <h3>＄<%= list_product.price %></h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>