<li>
  <%= link_to potepan_category_path(panel_category_detail.id) do %>
    <i class="fa fa-caret-right" aria-hidden="true"></i>
      <%= panel_category_detail.name %>
    <span>(<%= @product_count[panel_category_detail.id] %>)</span>
  <% end %>
</li>
