<li>
  <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= panel_category.id %>"><%= panel_category.name %><i class="fa fa-plus"></i></a>
  <ul id="taxonomy_<%= panel_category.id %>" class="collapse collapseItem">
    <%= render partial: "panel_category_detail", collection: panel_category.root.leaves %>
  </ul>
</li>