<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheet' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/copyright' %>
      <%= render 'layouts/login_modal' %>
      <%= render 'layouts/signup_modal' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/js' %>
  </body>
</html>
